*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 60px;
}
img{
    height: 250px;
    width: 350px;
    background-color: #d8d8d8fd;
}